.color-wrapper {
    text-align: center;
    justify-self: center;
    .color-box {
        height: 200px;
        width: 250px;
    }
    .color-button {
       margin: 5px 5px;
       height: 20px;
    }
}